@model SocialBets.Domain.Core.Models.CurrentBattle
@{
}

<div id="a" class="auth">

    <div  class="box">
        <div id="b" class="battleIcon"><img height="80" width="80" src="https://www.freepnglogos.com/uploads/instagram-logo-png-transparent-0.png"></div>
        <h4 class="title"><a href="">Create Bet</a></h4>
        <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
    </div>

</div>
@section Scripts {
<script src="~/js/site.js"></script>
}