@{
    ViewData["Title"] = "Home Page";

}

<section id="hero">
    <div class="hero-container">
        <h1>Welcome back to SocialBets. New generation gambling.</h1>
        <h2>This site is for betting between two Instagram or TikTok users.  It's simple - who has more likes for a certain period of time gets everything.</h2>
        <a href="#about" class="btn-get-started">Log in</a>
    </div>
</section>
